body{
    background-color: lightblue;
}
.interface{
    display: inline-block;
    width: 1520px;
    height: 600px;
    background-color: #212121;
}
#todo{
    font-size: larger;
    margin: 30px;
    padding: 30px;
    color: white;
}