#one{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#two{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#three{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#four{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}